body {
    background-color: rgb(209, 205, 209);
}

.container {
    margin-top: 3%;
}

.navbar-brand {
    background-color: #0ba6c2;
    padding: 20px !important;
    margin-left: 5% !important;
}

.navbar {
    padding: 0px !important;
    border-bottom: 5px solid grey;
}

.name {
    font-size: 25px !important;
    font-weight: 700;
    color: white !important;
}

.text-container {
    font-size: 21px;
    width: 100%;
    margin: 40% auto;
    padding: 20px;
    text-align: center;
    background-color: #0ba6c2;
    color: white;
}

h2 {
    color: #0ba6c2;
    text-emphasis: bold;
    font-size: 28px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: grey;
    width: 100%;
    height: 80px;
    text-align: center;
}

.footerBorder {
    border-width: 10px !important;
    border-color: #0ba6c2 !important;
}

i {
    padding: 20px;
    color: white;
    font-weight: 200 !important;
}

p {
    margin-left: 5px;
    margin-right: 5px;
}
a {
    color: rgb(50, 129, 233);
}

hr {
    background: darkgrey;
    height: 2px;
}

#picture {
    margin-right: 15px;
}


